
<div class="row m-0 p-0 mb-4 align-items-top justify-content-center">
    <div class="col-12 m-0 p-0 w-100">
        <h1 class="display-4 text-center m-auto pb-3" lang="@ViewBag.CultureName">@Localizer["license-section-title"]</h1>
    </div>
</div>

<h4 lang="@ViewBag.CultureName">@Localizer["license-content-subtitle-1"]</h4>

<div class="row m-0 mt-1 p-0 align-items-top justify-content-left">
    <div class="col-12 ms-2 ps-2">
        <ul class="list-unstyled list-info">
            <li><a class="text-decoration-none text-info" href="https://github.com/cdcavell/cdcavell.dev" rel="external nofollow noopener noreferrer">cdcavell.dev</a></li>
        </ul>
    </div>
</div>
<div class="row m-0 mt-2 p-0 align-items-top justify-content-left">
    <div class="col-12 ms-2 ps-2">
        <p lang="@ViewBag.CultureName">@Localizer["license-content-description-1-p1"]</p>
        <p class="pb-2" lang="@ViewBag.CultureName">@Localizer["license-content-description-1-p2"]</p>
        <p lang="@ViewBag.CultureName">@Localizer["license-content-description-1-p3"]</p>
        <p class="py-2" lang="@ViewBag.CultureName">@Localizer["license-content-description-1-p4"]</p>
        <p lang="@ViewBag.CultureName">@Localizer["license-content-description-1-p5"]</p>
    </div>
</div>

<h4 class="mt-2" lang="@ViewBag.CultureName">@Localizer["license-content-subtitle-2"]</h4>

<div class="row m-0 mt-1 p-0 align-items-top justify-content-left">
    <div class="col-12 ms-2 ps-2">
        <div class="d-block d-sm-flex align-items-start pt-2">
            <ul class="list-unstyled list-info">
                <li><a class="text-decoration-none text-info" href="https://github.com/jquery/jquery" rel="external nofollow noopener noreferrer">jQuery</a></li>
                <li><a class="text-decoration-none text-info" href="https://github.com/twbs/bootstrap" rel="external nofollow noopener noreferrer">Bootstrap</a></li>
                <li><a class="text-decoration-none text-info" href="https://github.com/pupunzi/jquery.mb.YTPlayer" rel="external nofollow noopener noreferrer">jquery.mb.YTPlayer</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row m-0 mt-2 p-0 align-items-top justify-content-left">
    <div class="col-12 ms-2 ps-2">
        <p lang="@ViewBag.CultureName">@Localizer["license-content-description-2-p1"]</p>
        <p class="pb-2" lang="@ViewBag.CultureName">@Localizer["license-content-description-2-p2"]</p>
        <p lang="@ViewBag.CultureName">@Localizer["license-content-description-2-p3"]</p>
        <p class="py-2" lang="@ViewBag.CultureName">@Localizer["license-content-description-2-p4"]</p>
    </div>
</div>
<div class="row m-0 mt-1 p-0 align-items-top justify-content-left">
    <div class="col-12 ms-2 ps-2">
        <div class="d-block d-sm-flex align-items-start pt-2">
            <ul class="list-unstyled list-info">
                <li><a class="text-decoration-none text-info" href="https://github.com/FortAwesome/Font-Awesome" rel="external nofollow noopener noreferrer">fontawesome-free</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row m-0 mt-2 p-0 align-items-top justify-content-left">
    <div class="col-12 ms-2 ps-2">
        <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p1"]</p>
        <p class="pb-2" lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p2"]</p>
        <p lang="@ViewBag.CultureName">
            <ul lang="@ViewBag.CultureName">
                <li lang="@ViewBag.CultureName">
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l1-p1"]</p>
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l1-p2"]</p>
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l1-p3"]</p>
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l1-p4"]</p>
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l1-p5"]</p>
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l1-p6"]</p>
                </li>
                <li lang="@ViewBag.CultureName">
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l2-p1"]</p>
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l2-p2"]</p>
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l2-p3"]</p>
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l2-p4"]</p>
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l2-p5"]</p>
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l2-p6a"]<br />@Localizer["license-content-description-3-p3-l2-p6b"]</p>
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l2-p7"]</p>
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l2-p8a"]<br />@Localizer["license-content-description-3-p3-l2-p8b"]</p>
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l2-p9"]</p>
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l2-p10"]</p>
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l2-p11"]</p>
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l2-p12"]</p>
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l2-p13a"]<br />@Localizer["license-content-description-3-p3-l2-p13b"]</p>
                    <p lang="@ViewBag.CultureName">
                        <ol lang="@ViewBag.CultureName">
                            <li class="pt-0" lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l2-p14"]</li>
                            <li class="pt-1" lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l2-p15"]</li>
                            <li class="pt-1" lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l2-p16"]</li>
                            <li class="pt-1" lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l2-p17"]</li>
                            <li class="pt-1" lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l2-p18"]</li>
                        </ol>
                    </p>
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l2-p19a"]<br />@Localizer["license-content-description-3-p3-l2-p19b"]</p>
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l2-p20a"]<br />@Localizer["license-content-description-3-p3-l2-p20b"]</p>
                </li>
                <li lang="@ViewBag.CultureName">
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l3-p1"]</p>
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l3-p2"]</p>
                </li>
                <li lang="@ViewBag.CultureName">
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l4-p1"]</p>
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l4-p2"]</p>
                </li>
                <li lang="@ViewBag.CultureName">
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l5-p1"]</p>
                    <p lang="@ViewBag.CultureName">@Localizer["license-content-description-3-p3-l5-p2"]</p>
                </li>
            </ul>
        </p>
    </div>
</div>


<div class="row m-0 mt-1 p-0 align-items-top justify-content-left">
    <div class="col-12 ms-2 ps-2">
        <div class="d-block d-sm-flex align-items-start pt-2">
            <ul class="list-unstyled list-info">
                <li><a class="text-decoration-none text-info" href="https://duendesoftware.com/products/identityserver" rel="external nofollow noopener noreferrer">Duende IdentityServer</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row m-0 mt-2 p-0 align-items-top justify-content-left">
    <div class="col-12 ms-2 ps-2">
        <p lang="@ViewBag.CultureName">
            @Localizer["license-content-description-4-p1a"]
            <a class="text-decoration-none text-info" href="https://duendesoftware.com/products/identityserver#pricing" rel="external nofollow noopener noreferrer" lang="@ViewBag.CultureName">
                @Localizer["license-content-description-4-p1b"]
            </a>
        </p>
    </div>
</div>

<div class="row m-0 mt-1 p-0 align-items-top justify-content-left">
    <div class="col-12 ms-2 ps-2">
        <div class="d-block d-sm-flex align-items-start pt-2">
            <ul class="list-unstyled list-info">
                <li><a class="text-decoration-none text-info" href="https://www.codeproject.com/Articles/1119451/MVC-Sudoku" rel="external nofollow noopener noreferrer">MVC Sudoku 4</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row m-0 mt-2 p-0 align-items-top justify-content-left">
    <div class="col-12 ms-2 ps-2">
        <p lang="@ViewBag.CultureName">
            @Localizer["license-content-description-5-p1a"]
            <a class="text-decoration-none text-info" href="https://www.codeproject.com/info/cpol10.aspx" rel="external nofollow noopener noreferrer" lang="@ViewBag.CultureName">
                @Localizer["license-content-description-5-p1b"]
            </a>
        </p>
    </div>
</div>


@section styles
{
    <link rel="stylesheet" type="text/css" media="screen" href="/css/application.min.css" asp-append-version="true" nonce="@ViewBag.StyleNonce" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/home.min.css" asp-append-version="true" nonce="@ViewBag.StyleNonce" />
}

@section scripts
    {
    <script src="/js/application.min.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>
    <script src="/js/home.min.js" asp-append-version="true" nonce="@ViewBag.ScriptNonce"></script>
    <script nonce="@ViewBag.ScriptNonce">

        $(document).ready(function () {
            Home.License();
        });

    </script>
}
